@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:regular,bold,italic&subset=latin,latin-ext');
@import "Header.css";
@import "News.css";
@import "Slider.css";
@import "Timeline.css";

.app {
  font-family: "Roboto Mono";
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.hidden {
  display: none;
}

.full-opacity {
  opacity: 1;
}

.slogan-1 {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: -125px;
}

.slogan-1--image {
  width: 100%;
}

.slogan-1--text {
  position: absolute;
  top: 40%;
  right: 70px;
  transform: translateY(-50%);
  width: 55%;
  font-size: 60px;
  font-weight: 700;
  text-align: end;
  color: #ed6562;
}

.slogan-2 {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: -60px;
}

.slogan-2--image {
  width: 100%;
}

.slogan-2--text {
  position: absolute;
  top: 65%;
  left: 40px;
  transform: translateY(-50%);
  width: 55%;
  font-size: 60px;
  font-weight: 700;
  text-align: end;
  color: #ed6562;
}