.logotel-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    height: 300px;
    padding: 60px;
    background-color: #272727;
    font-size: 14px;
}

.logotel-footer--logo {
    height: 60px;
    padding: 20px 0;
}

.logotel-footer--links {
    margin-top: 12px;
    margin-bottom: 25px;
}