.logotel-slider {
    position: relative;
    width: 100%;
    height: 810px;
}

.logotel-slider--image {
    width: 100%;
    height: 100%;
}

.logotel-slider--left-button {
    position: absolute;
    top: 50%;
    left: 90px;
    cursor: pointer;
}

.logotel-slider--right-button {
    position: absolute;
    top: 50%;
    right: 90px;
    cursor: pointer;
}

.logotel-slider--controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 160px;
    left: 0;
}

.logotel-slider--controls--button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #f07c79;
    font-weight: 700;
    opacity: 0.5;
    cursor: pointer;
}

.logotel-slider--controls--button:hover {
    opacity: 1;
}

.logotel-slider--text {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 175px;
    left: 175px;
    max-width: 50%;
}

.logotel-slider--text--title {
    margin-bottom: 3rem;
    font-size: 60px;
    font-weight: 700;
}

.logotel-slider--text--cta {
    margin-top: 3rem;
    padding: 18px;
    width: fit-content;
    border-radius: 16px;
    font-weight: 700;
    background-color: #f07c79;
    cursor: pointer;
}