.logotel-slider {
    position: relative;
    width: 100%;
    height: 575px;
}

.logotel-slider--image {
    width: 100%;
    height: 100%;
}

.logotel-slider--left-button {
    position: absolute;
    top: 50%;
    left: 8%;
    cursor: pointer;
}

.logotel-slider--right-button {
    position: absolute;
    top: 50%;
    right: 8%;
    cursor: pointer;
}

.logotel-slider--controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 0;
}

.logotel-slider--controls--button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    opacity: 0.5;
    cursor: pointer;
}

.logotel-slider--controls--button:hover {
    opacity: 1;
}

.logotel-slider--text {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 20%;
    max-width: 60%;
}

.logotel-slider--text--title {
    margin-bottom: 3rem;
}

.logotel-slider--text--cta {
    margin-top: 3rem;
    padding: 18px;
    width: fit-content;
    border-radius: 16px;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .logotel-slider {
        height: 810px;
    }

    .logotel-slider--text {
        top: 175px;
        max-width: 50%;
    }

    .logotel-slider--controls {
        top: 160px;
    }

    .logotel-slider--controls--button {
        height: 60px;
        width: 60px;
    }
}