.logotel-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    padding: 0 150px 0 60px;
    background-color: #272727;
    color: #ffffff;
    opacity: 0.8;
}

.logotel-header--card {
    padding: 0 25px;
    font-size: 20px;
    cursor: pointer;
}

.logotel-header--card:hover {
    font-weight: 700;
    color: #f07c79;
}

.logotel-header--spacer {
    flex: 1;
}